.mainWrapper {
  height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.smallWrapper {
  width: 370px;
}

.mediumWrapper {
  width: 750px;
}

.cardDetail {
  margin-top: 10px;
  padding: 0px 5%;
  display: flex;
  align-items: center;
}

.detailSmall {
  max-width: 140px;
}

.imgWrapper {
  width: auto;
  height: 100%;
}

.storeImageSmall {
  height: 100%;
  width: 185px;
  object-fit: cover;
}

.storeImageMedium {
  height: 100%;
  width: 370px;
  object-fit: cover;
}

.linkWrapper {
  margin-top: 10px;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.fill {
  object-fit: fill;
}
