.mainWrapper {
  background-color: white;
  border: 1px solid #dad8d6;
  border-radius: 3px;
  overflow: hidden;
  margin: 5px;
  display: table;
  transition: ease 0.3s;
  text-decoration: none;
  &:hover {
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.skeleton {
  width: 152px;
  height: 330px;
  margin: 5px;
}
