.sliderwrapper {
  overflow-x: hidden;
  margin-bottom: 50px;
}

.slider {
  display: flex;
  transform: translateX(0);
  height: 350px;
  transition: transform .3s ease;
}

.slideWrapper {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slideContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.sliderWrapperNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderWrapperNav span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.sliderWrapperNav span.active {
}

.sliderWrapperButtons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.sliderWrapperButtons button {
  color: #fff;
  font-size: 12px;
  display: block;
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #e63976;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 600;
}

.sliderWrapperButtons button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}