.mainWrapper {
  margin: 15px 15px 15px 0;
  background-color: #e63976;
  border-radius: 3px;
  transition: ease 0.3s;
  display: table;
  user-select: none;
  &:hover {
    background-color: #be3162;
    cursor: pointer;
  }
  & .text {
    padding: 10px;
    transition: ease 0.3s;
  }
}

.disabled {
  background-color: #b7b7b7;
  &:hover {
    cursor: not-allowed;
    background-color: #b7b7b7;
  }

  & .text {
    color: #898989;
    &:hover {
      color: #898989;
    }
  }
}
