.mainWrapper {
  width: 150px;
}
.productImage {
  background-color: #dad8d6;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.productDetail {
  padding: 15px;
  justify-content: left;
}

.namesWrapper {
  height: 65px;
}

.badges {

  height: 34px;
}

.priceWrapper {
  margin-top: 5px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.discountText {
  text-decoration: line-through;
}
