@keyframes load {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.7;
  }
}

.mainWrapper {
  min-width: 30px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-color: #F1F1F1;
  animation: load 1s infinite;
  min-height: 10px;
}

.baseText {
  border-radius: 50px;
}

.title {
}
.subtitle {
  height: 2.5em;
}
.subtitle2 {
  height: 1.75em;
}
.subtitle3 {
}
.bold {
  height: 1em;
}
.paragraph {
  height: 1em;
}
.caption {
  height: 0.8125em;
}
.micro {
  height: 0.625em;
}
