.base {
  margin: 0px;
}

.skeleton {
  width: 200px;
}

.title {
}
.subtitle {
  font-size: 2.5em;
  font-weight: 600;
}
.subtitle2 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.2em;
}
.subtitle3 {

  font-size: 1.5em;
  line-height: 1.375em;
}
.bold {
  font-size: 1em;
  font-weight: 600;
}
.paragraph {
  font-size: 1em;
}
.caption {
  font-size: 0.8125em;
  &Bold {
    font-weight: 600;
  }
}
.micro {
  font-size: 0.625em;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.main100 {
  color: #f6cdd3;
}
.main200 {
  color: #e67787;
}
.main300 {
  color: #e63976;
}
//This is the main color fo Canasta rosa
.main400 {
  color: #d83970;
}
//Deep -- As of MIJO 1.1.0 This is the complementary color of our main one. Please use clear text colors if you are using this as a background.
.deep100 {
  color: #8080a5;
}
.deep200 {
  color: #34344b;
}
.deep300 {
  color: #21212c;
}
.deep400 {
  color: #161620;
}
//Dark  -- This is the color that we use for text
.dark100 {
  color: #6b6b7a;
}
.dark200 {
  color: #494953;
}
.dark300 {
  color: #37373e;
}
//This is the main and default color of our text.
.dark400 {
  color: #2b2b30;
}
//Gray -- These are the gray shades of our site.
.white {
  color: #ffffff;
}
.gray100 {
  color: #f1f1f1;
}
.gray200 {
  color: #dad8d6;
}
.gray300 {
  color: #b7b7b7;
}
.gray400 {
  color: #898989;
}
.turquiose100 {
  color: #c0ffee;
}
.turquiose200 {
  color: #5bc3a7;
}
.turquiose300 {
  color: #1db592;
}
.turquiose400 {
  color: #217856;
}

.brown400 {
  color: #2d0c09;
}
