.sectionTitle {
  margin: 0 0 15px 5px;
}

.listingContainer {
  margin: 30px 0;
  width: calc(100vw - 20px);
  overflow: hidden;
  max-width: 1140px;
}
.productsContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.scrollWrapper {
  width: calc(100vh-20px);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.storeImage {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
