.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffb7a6;
  background-image: url('../../assets/backgrounds/bg2.jpg');
  background-position-y: bottom;
  background-size:100vw auto;
  background-position-y: 100vh;
}

.firstFoldBG {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #DF5173 0%, #FFB7A6 92.71%);
  background-image: url('../../assets/backgrounds/bg1.jpg');
  background-size:100vw auto;
  background-position-y: bottom;
  width: 100%;
  min-height: 100vh;
  top: 0;
  margin-bottom: 30px;
}

.logo {
  width: 350px;
  height: auto;
  margin: 50px 0;
}

.bannerRow {
  display: flex;
  flex-direction: row;
}


@media (max-width:1024px) {

  .firstFoldBG {
    background: linear-gradient(180deg, #DF5173 0%, #FFB7A6 92.71%);
  }

  .mainContainer{

    background-image: none;
  }

}